:root {
  --main-color: #000;
  --secondary-color: #222;
}

body {
  padding: 0;
  margin: 0;
}

.settings {
  margin-bottom: 10px;
  border-radius: 15px;
  background-color: var(--secondary-color);
}

.root {
  background: var(--main-color);
}

.radio {
  color: white;
}
.container {
  z-index: 10;
  overflow-y: auto;
  height: 100vh;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
}

.background-cat {
  background-image: url('https://static.vecteezy.com/system/resources/previews/003/423/831/original/cute-cat-kitten-greeting-cartoon-doodle-background-wallpaper-free-vector.jpg');
}

.background-dog {
  background-image: url('https://images.pling.com/img/00/00/64/33/33/1680954/dog-with-flower-in-mouth-sz-1920x1080.jpg');
}
